.input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input{
    height: 4vh;
    color: #82ff06;
    background-color: #434343;
    border: 1px solid black;
}

.button-aplica-filtro{
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgb(130,255,6);
    font-weight: bold;
    font-size: 14px;
}



.container-aplica-filtro{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
