.button-remove-filtro{
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #f5222d;
    font-weight: bold;
    font-size: 14px;
}

.container-remover-filtro{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

.container{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 90vh;
}

.imagem-titulo{
    width: 350px;
    height: 100px;
}

.container-content-card{
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
}

.container-success{
    padding-bottom: 40px;
    padding-left: 40px;
}

@media screen and (max-width:500px) {
    .imagem-titulo{
        width: 300px;
        height: 80px;
    }

    .container-success{
        padding: 0px 50px;
    }
}