
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}

.container-content-card{
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
}

.container-success{
    padding-bottom: 40px;
    padding-left: 40px;
    width: 100%;
}

@media screen and (max-width:500px) {
    .container{
        padding: 20px 0px;
    }

    .container-success{
        padding: 0px 50px;
    }



}