*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}

body{
    background-image: url("./assets/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


@media screen and (max-width:500px) {
    body{
        background-color: #101920;
        background-image: none;
    }
}

